*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: end;

}
.item{
    background: rgb(143, 158, 223);
    color: white;
    border: 2px black dotted;
    height: 100vh;
}

#left-nav{
    flex-grow: 1;
}
#main-content{
    flex-grow: 4;
}
#right-sidebar{
    flex-grow: 2;
}